<h1> Heyy, <%= current_user.name %> </h1>
<h2> Household Name: </h2>
<%= current_user.household.name %>
<h3> Roommates: </h3>
<% @roommates.each do |roommate| %>
  <h4> Name: </h4>
  <%= roommate.name %>
  <h4> Chores: </h4>
  <% roommate.chores.each do |chore| %>
  <%= chore.name %> -- <%= chore.date_completed %>
  <% end %>
<% end %>

<br></br>
<a href="/chores/new">Log a new chore (high five!)</a>

<!-- how to safeguard against creating duplicate users and households. -->
<!-- Edit chores link doesn't go to right place -->
